.carousel-inner > .carousel-item > img {
    width:640px;
    height:360px;
  }
  
.hero-img-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.flipped {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

